body {
    font-family: 'Dancing Script', sans-serif;
    background-color: #FCF9F2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
    text-align: center; /* Center the content horizontally */
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

h2 {
    color: #666;
    margin-bottom: 20px;
}

.schedule {
    font-family: Lato;
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Center the schedule horizontally */
    max-width: 1000px;
    text-align: left;
}

.schedule li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.schedule li .time {
    font-weight: bold;
    color: #7f8b7d;
    min-width: 100px;
    margin-right: 20px;
}

.schedule li .location {
    color: #7f8b7d;
    margin-left: 40px;
    min-width: 100px; /* Ensures consistent width for location column */
}
